.header{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.580838) 32.24%, rgba(0, 0, 0, 0.486293) 62.09%, rgba(0, 0, 0, 0) 98.06%), url('../../assets/header-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 760px;
    position: relative;
}

.header-text{
    color: #ffffff;
    font-family: Poppins-normal;
}

.header-text h1{
    font-weight: 700;
    font-size: 56px;
    margin-top: 188px;
}

.header-text h4{
    font-size: 22px;
    font-weight: 400;
    width: 529px;
    margin: auto;
}

@media screen and (max-width:780px){

    .header{
        height: 618px;
    }

    .header-text{
        padding-left: 30px;
        padding-right: 30px;
    }
    .header-text h1{
        font-size: 1.35rem;
        margin-top: 129px;
    }

    .header-text h4{
        font-size: 0.98rem;
        width: 100%;

    }
}